#toaster {
  position: relative;
  z-index: 50;
}

.toaster {
  position: fixed;
  width: 290px;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;

  &__item {
    position: absolute;
    left: 0;
    width: 100%;
    min-height: 83px;
    display: flex;
    align-items: center;
    padding: 6px 12px 6px 20px;
    border-width: 1px;
    border-style: solid;
    border-radius: 12px;
    box-shadow: 0px 4px 16px 0px rgba(16, 11, 39, 0.08);
    animation: slideIn 0.5s forwards;

    &--success {
      border-color: rgba(72, 193, 181, 1);
      background: rgba(246, 255, 249, 1);
    }
    &--error {
      border-color: rgba(244, 176, 161, 1);
      background: rgba(255, 245, 243, 1);
    }

    &--slide-out {
      animation: slideOut 0.5s forwards;
    }
  }

  &__item-message {
    margin-left: 16px;
    font-weight: 600;
    line-height: 19.6px;
    text-align: left;
    color: var(--text-color-1);
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}
