.category-form-renderer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  &__render-section-wrapper {
    width: 100%;
  }
  &__section-renderer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    & + .category-form-renderer__section-renderer {
      margin-top: 40px;
    }
  }

  &__section-label {
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    color: var(--text-color-1);
  }

  &__fields {
    width: 100%;
    margin-top: 30px;
    display: grid;
    gap: 30px;
  }
  &__button-wrapper {
    min-width: 177px;
    margin-top: 40px;
    height: 44px;
  }
}
