@mixin scroll {
  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  &::-webkit-scrollbar-track {
    background: var(--text-field-color);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--lines-color);
    border-radius: 10px;
  }
}
