.app {
  &__header-layout-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  &__layout-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 10;
  }
  &__home-layout-wrapper {
    padding-top: var(--header-height);
  }
  &__home-layout-inner {
    padding-top: var(--home-layout-padding-top);
  }
}
