@use '@/styles/mixins.scss' as styles;

.general-category-list {
  &__title {
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    color: var(--text-color-1);
  }
  &__list-wrapper {
    width: 100%;
    display: flex;
    gap: 10px;
    margin-top: 25px;
  }
  &__list-item {
    position: relative;
    flex: 1;
    box-shadow: 0px 4px 20px 0px rgba(28, 38, 71, 0.1);
    background: var(--white-color);
    height: 70px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    color: var(--text-color-1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 31px;
    transition: all 0.2s ease-in-out;
    &:hover:not(&--active) {
      box-shadow: 0px 4px 20px 0px rgba(28, 38, 71, 0.2);
    }
    &--active {
      border: 1px solid var(--primary-1);
      color: var(--primary-1);
    }
    &:last-child {
      .general-category-list__category-dropdown-wrapper {
        left: unset;
        right: 0;
      }
    }
  }
  &__selected-category-text {
    line-height: 21px;
    color: var(--text-color-2);
    font-weight: 400;
    font-size: 14px;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &__category-dropdown-wrapper {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    z-index: 10;
    width: 300px;
    max-height: 320px;
    overflow-x: hidden;
    overflow-y: auto;
    padding-right: 2px;
    @include styles.scroll;
  }
  &__category-dropdown-inner {
    min-height: 135px;
    background: var(--white-color);
    border: 1px solid rgba(220, 223, 229, 1);
    box-shadow: 0px 0px 8px 0px rgba(159, 159, 173, 0.2);
    border-radius: 10px;
  }
}
