.create-post-file-uploader {
  display: flex;
  align-items: center;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    &:hover {
      .create-post-file-uploader__box {
        border-color: var(--primary-2);
      }
      .create-post-file-uploader__icon {
        color: var(--primary-2);
      }
      .create-post-file-uploader__text {
        color: var(--primary-2);
      }
    }
  }
  &__box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95px;
    height: 85px;
    border-radius: 16px;
    border: 2px dashed var(--primary-1);
    transition: border-color 0.2s ease-in-out;
  }
  &__icon {
    font-size: 23px;
    color: var(--primary-1);
    transition: color 0.2s ease-in-out;
  }
  &__text {
    margin-top: 6px;
    line-height: 14px;
    color: var(--primary-1);
    transition: color 0.2s ease-in-out;
  }
  &__image-preview-container {
    margin-left: 14px;
    display: flex;
    align-items: center;
  }
  &__image-preview {
    display: flex;
    align-items: center;
    flex-direction: column;
    img {
      width: 95px;
      height: 85px;
      border-radius: 16px;
      object-fit: cover;
      object-position: top center;
    }
    & + .create-post-file-uploader__image-preview {
      margin-left: 14px;
    }
  }
  &__image-delete {
    margin-top: 6px;
    line-height: 14px;
    color: var(--text-color-2);
    transition: color 0.2s ease-in-out;
    cursor: pointer;
    &:hover {
      color: var(--text-color-1);
    }
  }
}
