.forgot-password {
  width: 100%;
  /* Step 1 */
  &__back-wrapper {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    font-size: 16px;
    color: var(--text-color-2);
    cursor: pointer;
    &:hover {
      color: var(--text-color-3);
    }
  }
  &__back-icon {
    font-size: 12px;
  }
  &__back-text {
    line-height: 24px;
    margin-left: 10px;
  }
  &__form-wrapper {
    margin-top: 40px;
  }
  &__email-input-wrapper {
    height: 54px;
  }

  /* Step 2 */

  &__form-wrapper-step-2 {
    margin-top: 56px;
  }
  &__auth-link-wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
}
